<% content_for :top_content do %>
           <div class="column ">
                <div class="ui huge message page grid">
                    <h1 class="ui huge header">Welcome!</h1>
                    <br>
                    <p>This is auth app built on rails and semantic-ui. Devise auth is implemented in this app.</p>
                    <a class="ui blue button" href="<%= edit_user_registration_path %>">Profile »</a>
                </div>
            </div>

<% end %>